spicyEngine/misc/resources/STBenchmark/01Copying/copyS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Source">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Protein" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" nillable="true"/>
							<xs:element name="accession" type="xs:string" nillable="true"/>
							<xs:element name="created" type="xs:string" nillable="true"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
